.searchbar {
    display: table;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.resultGrid{
    padding: 5px;
    overflow: auto;
    max-height: 600px;
}

.searchText {
    float: right;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0px;
}

.searchButton {
    display: table-cell;
    vertical-align: middle;
    width: 75px;
    text-align: right;
}

.contactTitle {
    float: left;
}

.contactControl{
    text-align: right;
}

.editContact {
    cursor: hand;
}

.removeContact{
    color: red;
    cursor: hand;
}

.contactContent{
    float: left;
    width: 50%;
    padding-right: 20px;
}
.phoneContent{
    float: right;
    width: 50%;
    padding-left: 20px;
}
.input-group{
    width: 100%;
}

.modal-body{
    height: 400px;
}

.phoneInput{
    float: left;
}

.adressShortInfo{
    float: left;
    width: 50%;
}
.phoneContent{
    border: 1px solid #3c8499;
}