body {
    background-color: #95c8cc;
}
div#header {
    position:fixed;
    width:90%;
    color: #54b8cc;
    background:#333;
    padding:10px;
}
div#footer {
    position:fixed;
    width:100%;
    color:#54b8cc;
    background:#333;
    padding:8px;
}