body {
    background-color: #CCC;
    margin:80px 80px 100px 100px;
}
div#header {
    position:fixed;
    width:100%;
    color:#CCC;
    background:#333;
    padding:20px;
}
div#footer {
    position:fixed;
    width:100%;
    color:#CCC;
    background:#333;
    padding:8px;
}