body {
    background-color: #95c8cc;
}

div#header {
    width: 100%;
    color: #2b4a5b;
    background: #89c3e7;
    padding: 5px 5px 5px 0px;
}

div#footer {
    width: 100%;
    color: #2b4a5b;
    background: #89c3e7;
    padding: 8px;
}

div#content {
    padding: 20px;
}

div#body{
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
    border: 1px solid #3c8499;
}